
<link rel="stylesheet" href="~/css/style.css">

<div class="container">
  <div class="row">
    <div class="col-sm">
      Fullness: @ViewBag.Fullness
    </div>
    <div class="col-sm">
      Happiness: @ViewBag.Happiness
    </div>
    <div class="col-sm">
      Meals: @ViewBag.Meal
    </div>
    <div class="col-sm">
      Energy: @ViewBag.Energy
    </div>
  </div>
</div>
<div class=" row justify-content-md-center stuff">
    <p>@TempData["Message"]</p>
</div>
@if(ViewBag.Result == true)
{
    <a class="btn btn-danger" href="/reset">Reset</a>
}
else {
    <div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="btn btn-primary" href="/feed">Feed</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-primary" href="/play">Play</a>                
        </div>
        <div class="col-sm">
            <a class="btn btn-primary" href="/work">Work</a>                
        </div>
        <div class="col-sm">
            <a class="btn btn-primary" href="/sleep">Sleep</a>                
        </div>
    </div>
</div>
}


